In [2]:
import numpy as np
import pandas as pd
url1="http://bit.ly/TelecomDataset1"
df1=pd.read_csv(url1)
df1.head(5)

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [3]:
import numpy as np
import pandas as pd
url2="http://bit.ly/TelecomDataset2"
df2=pd.read_csv(url2)
df2.head(5)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [4]:
import numpy as np
import pandas as pd
url3="http://bit.ly/TelecomDataset3"
df3=pd.read_csv(url3)
df3.head(5)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

merging df1,df2 and df2

In [7]:
df_merged1 = pd.concat([df1,df2], ignore_index=True)

df_merged1
frames = [df1,df2]
df_keys = pd.concat(frames, keys=['FIRST DF1', 'SECOND DF2'])

df_keys
df_merged2 = pd.concat([df_merged1,df3], ignore_index=True,sort=False)

df_merged2
frames = [df1,df2,df3]
df_keys = pd.concat(frames, keys=['FIRST DF1', 'SECOND DF2','THIRD DF3'])
df_merged2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if sys.path[0] == '':

             CELL_ID CELL_ON_SITE COUNTRY_A  ... VALUE      CELLID     SIET_ID
0         /TJNe+Mmtu            1     19e2e  ...     0         NaN         NaN
1         /+cKZKIp41            0     19e2e  ...     0         NaN         NaN
2         /u0FSD+ahi            0     19e2e  ...    25         NaN         NaN
3         +cNeJzsTp3            1     19e2e  ...    56         NaN         NaN
4         051KhYDCpv            1     19e2e  ...    14         NaN         NaN
...              ...          ...       ...  ...   ...         ...         ...
49452724         NaN            2     19e2e  ...    14  zsA2dnzCR5  zsA2dnzCR5
49452725         NaN            2     19e2e  ...     0  xxbbz32oIL  xxbbz32oIL
49452726         NaN            1     19e2e  ...     0  zbVRn1hiwe  zbVRn1hiwe
49452727         NaN            1     19e2e  ...    25  yPq8TPd7WC  yPq8TPd7WC
49452728         NaN            2     19e2e  ...     0  zqHx55Evcc  zqHx55Evcc

[49452729 rows x 16 columns]

find and drop duplicates in the merged dataframe merged2

In [0]:
import pandas as pd
url1="http://bit.ly/TelecomDataset1"
df1=pd.read_csv(url1)
url2="http://bit.ly/TelecomDataset2"
df2=pd.read_csv(url2)
url3="http://bit.ly/TelecomDataset3"
df3=pd.read_csv(url3)
df_merged1 = pd.concat([df1,df2], ignore_index=True)

df_merged1
frames = [df1,df2]
df_keys = pd.concat(frames, keys=['FIRST DF1', 'SECOND DF2'])

df_keys
df_merged2 = pd.concat([df_merged1,df3], ignore_index=True,sort=False)

df_merged2
frames = [df1,df2,df3]
df_keys = pd.concat(frames, keys=['FIRST DF1', 'SECOND DF2','THIRD DF3'])
df_merged2
df_merged2.duplicated()
df.drop_duplicates()

In [24]:
import numpy as np
import pandas as pd
#url="https://drive.google.com/a/moringaschool.com/file/d/1ABZux280OjL3yWcOn8BDA_f5QsyO0QPU/view?usp=sharing"
df4=pd.read_csv('cells_geo.csv',delimiter=';',index_col=None)
df4.head(10)

   Unnamed: 0    VILLES      STATUS  ... AREA     CELL_ID   SITE_CODE
0           0    ADJAME  In Service  ...  NaN  fbb2e75af3  0bb492ef17
1           1    ADJAME  In Service  ...  NaN  1502501d78  0bb492ef17
2           2    ADJAME  In Service  ...  NaN  0c2e182a0c  0bb492ef17
3           3   ASSINIE  In Service  ...  NaN  69bdfc69fd  8a1e6ce31f
4           4   ASSINIE  In Service  ...  NaN  7a1029d2ab  8a1e6ce31f
5           5   ASSINIE  In Service  ...  NaN  0b4f56438f  8a1e6ce31f
6           6  KRIKOREA  In Service  ...  NaN  041d2504f5  260dbfedc5
7           7     ABOBO  In Service  ...  NaN  a70c1d263b  56306cc7ca
8           8     ABOBO  In Service  ...  NaN  e2d04ea883  56306cc7ca
9           9     ABOBO         NaN  ...  NaN  ee224cd27e  56306cc7ca

[10 rows x 12 columns]

In [0]:

import numpy as np
import pandas as pd
url="https://drive.google.com/open?id=1cVoNXl25IO5-_yQk97ThdeqhE6yw8YTD"
df5=pd.read_excel('CDR_description.xlsx',sheet_name=0,head=None)
df5

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [0]:
import numpy as np
import pandas as pd
url="https://drive.google.com/a/moringaschool.com/file/d/1-rIM5ihDu79RaH7rAs-d-7SQSAQhrY9N/view?usp=sharing"
df6=pd.read_excel('cells_geo_description.xlsx', sheet_name=0, header=None)
df6

         VILLES                                               City  String
0        STATUS                                  In Service or not  String
1  LOCALISATION                                  in ABIDJAN or not  String
2    DECOUPZONE                                  Geographical Zone  String
3      ZONENAME                                       Name of Zone  String
4     LONGITUDE                                          Longitude   Float
5      LATITUDE                                           Latitude   Float
6        REGION                                             Region  String
7          AREA                                               Area  String
8       CELL_ID                                     ID of the cell  String
9     SITE_CODE  Site (there are several cells per site, severa...  String